* {
    user-select: none; /* This will disable text selection on the entire page */
    -webkit-user-select: none; /* For Safari and Chrome */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For IE10+/Edge */
}

body,html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 24rem;
    font-style: normal;
    background-color: black;
    color: #eceff4;
}

body { display: flex; flex-direction: column; }
